USE [master]
GO
/****** Object:  Database [TIENDADB]    Script Date: 4/10/2022 18:42:43 ******/
CREATE DATABASE [TIENDADB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TIENDADB', FILENAME = N'D:\Programas\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TIENDADB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TIENDADB_log', FILENAME = N'D:\Programas\SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TIENDADB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TIENDADB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TIENDADB]
GO
/****** Object:  Table [dbo].[inventario]    Script Date: 4/10/2022 18:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Producto] [varchar](50) NOT NULL,
	[Existencias] [bigint] NOT NULL,
	[Marca] [varchar](50) NOT NULL,
	[Color] [varchar](50) NOT NULL,
	[Talla] [varchar](50) NOT NULL,
	[Fabrica] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NULL,
	[Precio] [bigint] NOT NULL,
 CONSTRAINT [PK_inventario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 4/10/2022 18:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreusuario] [varchar](100) NOT NULL,
	[contraseña] [varchar](100) NOT NULL,
	[tipousuario] [varchar](100) NOT NULL,
	[monedas] [bigint] NOT NULL,
 CONSTRAINT [PK_usuario_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario1]    Script Date: 4/10/2022 18:42:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario1](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombreusuario] [varchar](100) NOT NULL,
	[contraseña] [varchar](100) NOT NULL,
 CONSTRAINT [PK_usuario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
